

    body
	{
		padding-top:30px;
		background: #eaebef !important;
	}

    .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

    small {
        display: block;
        line-height: 1.428571429;
        color: #999;
    }
    .agent-image{
        float: right !important;
        margin-right: 55px;
    }
    .agent-detail-box{
        margin-top: -25px;
        min-height: 70px; 
        max-height: 60px;
    }
    .loader-agent-list{
        margin :0; width: 80px; top:100px; height: 80px
    }
    .agent-detail-box-footer{
        min-height: 60px;
        max-height: 60px;
        margin-top: 10px;
    }

    .searchbg {
        padding: 15px;
        background: #337ab7;
        overflow: hidden;
    }
    .searchbg .form-group {
        margin-bottom: 0;
    }
    .agent-title {
        font-size: 25px;
        color: #1e70a2;
        letter-spacing: 0.10px;
        display: block;
        margin: 20px;
        /*font-family: SegoeUI-Bold;*/
            font-family: 'Raleway', sans-serif;
    }
    .shadowbox
    {
        //box-shadow: 0 1px 4px #ddd;
    }
    .img-circle-cutsom {
        max-width: 71px;
        float: right;
    }
    .sitebtn
    {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0e0f5+0,3a9eda+3,2493da+5,2592d5+8,2192d4+11,2790d1+14,2491d6+16,238fcf+19,2187c5+38,2387c5+41,2284c1+43,2181bd+54,1f76ab+78,1f72a6+92,2071a6+95,3380ac+97,bfd7e3+100 */
        background: #c0e0f5; /* Old browsers */
        background: -moz-linear-gradient(top, #c0e0f5 0%, #3a9eda 3%, #2493da 5%, #2592d5 8%, #2192d4 11%, #2790d1 14%, #2491d6 16%, #238fcf 19%, #2187c5 38%, #2387c5 41%, #2284c1 43%, #2181bd 54%, #1f76ab 78%, #1f72a6 92%, #2071a6 95%, #3380ac 97%, #bfd7e3 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #c0e0f5 0%,#3a9eda 3%,#2493da 5%,#2592d5 8%,#2192d4 11%,#2790d1 14%,#2491d6 16%,#238fcf 19%,#2187c5 38%,#2387c5 41%,#2284c1 43%,#2181bd 54%,#1f76ab 78%,#1f72a6 92%,#2071a6 95%,#3380ac 97%,#bfd7e3 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #c0e0f5 0%,#3a9eda 3%,#2493da 5%,#2592d5 8%,#2192d4 11%,#2790d1 14%,#2491d6 16%,#238fcf 19%,#2187c5 38%,#2387c5 41%,#2284c1 43%,#2181bd 54%,#1f76ab 78%,#1f72a6 92%,#2071a6 95%,#3380ac 97%,#bfd7e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e0f5', endColorstr='#bfd7e3',GradientType=0 ); /* IE6-9 */
        border:none;
        box-sizing: border-box;

    }

    
   
    .sitebtn:focus, .sitebtn:hover
    {
        border: 1px solid #1e70a2;
        background: #fff!important;
        color: #207eb7;
        outline: 0;
    }

    .agentsitebtn {
        width: 100%;
        max-width: 154px;
        height: 38px;
        line-height: 38px !important;
        padding: 0;
        font-family: 'SegoeUI-Bold';
        margin-top: 15px;
    }
    .card {
        box-shadow: 0 0px 10px rgba(0,0,0,.05) !important;
        background: #fff !important;
        padding: 40px 40px 30px 0 !important;
        transition: all 0.5s ease !important;
    }
    .card:hover {
        background: #f2f2f2;
    }
    .contentwrap {
        clear: both;
    }
    .container-sm
    {
        max-width: 960px;
    }
    .agent-name {
        font-family: 'SegoeUI-Bold';
        color: #1e70a2;
        letter-spacing: 0.10px;
        text-transform: capitalize;
        margin-top: 0;
    }
    .agent-name a {
        text-decoration: none;
    }
    .agent-designation {
        color: #8a8a8a;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0.10px;
    }
    .agent-university {
        line-height: 10px;
        font-size: 11px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .agent-details {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
        color: #545454;
        letter-spacing: 0.10px;
    }
    .agent-badge {
        display: inline-block;
        margin-right: 20px;
    }
    .agent-badge img
    {
        margin-right: 10px;
    }

    .rating-box
    {
        display: inline-block;
    }
    .rating-box .list-inline
    {
        font-size: 0;
    }
    .rating-box .list-inline>li {
        padding-left: 1px;
        padding-right: 1px;
        font-size:14px;
    }
    .rating {
        font-size: 11px;
        background: #c6c6c6;
        color: #fff;
        height: 17px;
        width: 18px;
        text-align: center;
        padding-top: 3px;
        border-radius: 2px;
        vertical-align: top;
    }
    .rating.rating-active {
        background: #1e70a2;
    }
    .agent-location {
        color: #1e70a2;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.10px;
        font-size: 13px;
    }
    .agent-location i
    {
        margin-right: 5px;
        font-size: 15px;
    }
    .searchform.form-horizontal {
        width: 94%;
        max-width: 534px;
        margin: 0px auto;
        position: relative;
    }
    .searchform .form-control {
        height: 36px;
    }

    .search-agent-btn {
        position: absolute;
        right: 0px;
        top: 0;
        height: 100%;
        width: 128px;
        background: #97d34f;
        border-radius: 0 3px 3px 0;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    .search-agent-btn:hover,  .search-agent-btn:focus{
        border: 0;
        background: #05597d!important;
        color: #fff;
    }

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/*-------------------------------------
        Custom Css
--------------------------------------*/
.agent-form-style{
    font-family: 'Roboto', sans-serif;
    color: #545454;
}
.agent-form-style.modal-content{padding: 0;width: 600px;margin: 50px auto;max-width: 100%;}
.agent-form-style.modal-content h4{
    font-size: 18px;
    font-weight: 500;
}
.agent-form-style.modal-content ul {
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
}
.agent-form-style.modal-content .control-label{
    font-size: 11px;
}

/*button.agent-lead-btn {
    background: #c0e0f5;
    background: -moz-linear-gradient(top, #c0e0f5 0%, #3a9eda 3%, #2493da 5%, #2592d5 8%, #2192d4 11%, #2790d1 14%, #2491d6 16%, #238fcf 19%, #2187c5 38%, #2387c5 41%, #2284c1 43%, #2181bd 54%, #1f76ab 78%, #1f72a6 92%, #2071a6 95%, #3380ac 97%, #bfd7e3 100%);
    background: -webkit-linear-gradient(top, #c0e0f5 0%,#3a9eda 3%,#2493da 5%,#2592d5 8%,#2192d4 11%,#2790d1 14%,#2491d6 16%,#238fcf 19%,#2187c5 38%,#2387c5 41%,#2284c1 43%,#2181bd 54%,#1f76ab 78%,#1f72a6 92%,#2071a6 95%,#3380ac 97%,#bfd7e3 100%);
    background: linear-gradient(to bottom, #c0e0f5 0%,#3a9eda 3%,#2493da 5%,#2592d5 8%,#2192d4 11%,#2790d1 14%,#2491d6 16%,#238fcf 19%,#2187c5 38%,#2387c5 41%,#2284c1 43%,#2181bd 54%,#1f76ab 78%,#1f72a6 92%,#2071a6 95%,#3380ac 97%,#bfd7e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e0f5', endColorstr='#bfd7e3',GradientType=0 );
    border: none;
    box-sizing: border-box;
    width: 100%;
    max-width: 154px;
    height: 38px;
    line-height: 38px !important;
    padding: 0;
    color: #ffffff !important;
    font-weight: bold;
}*/
button.agent-lead-btn {
    background: #337ab7;
}
/*button.agent-lead-btn:hover{
    border: 1px solid #1e70a2;
    background: #fff!important;
    color: #207eb7 !important;
    outline: 0;
}
button.agent-lead-btn:active{
    border: 1px solid #1e70a2;
    background: #fff!important;
    color: #207eb7 !important;
    outline: 0;
}*/
.img-circle-cutsom{
    max-width: 71px !important;
    float: right;
}
.pagination.text-center-custom{
    width: 100%;
    text-align: center;
}
.pagination.text-center-custom li{
    display: inline-block;
}
.mfp-auto-cursor .mfp-content{
    width: 100% !important;
}

@media only screen and (max-width: 767px){
    .card {
        padding: 25px !important; 
    }
    .agent-details {
        margin-top: 10px;
    }
    .img-circle-cutsom {
        float: left;
        margin-bottom: 30px;
        margin-right: 30px;
        margin-top: 20px;
    }
    .rating-box {
        margin-top: 15px;
    }

    
    }





















.our-team .breadcrumb {
    padding-top: 4px;
    color: #2196F3;
    background: none
}
.button {
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    -webkit-text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-align: center;
}

.agnet-inner{
	width:48%;
	float:left;
	margin:5px;
}
.our-team .breadcrumb li:after {
    padding: 0 12px
}
.our-team .breadcrumb>.active {
    color: #2196F3
}
.our-team .breadcrumb>.active:after {
    display: none
}
.our-team.archive-our-team {
    margin-bottom: -17px
}
@media (max-width: 1599px) {
    .our-team.archive-our-team .meet-our-team-title {
        text-align: left;
        margin-top: 36px
    }
    .our-team.archive-our-team .members {
        margin-top: 21px
    }
}
@media (min-width: 1310px) and (max-width: 1599px) {
    .our-team.archive-our-team .member-article .member-text-content {
        padding-top: 100px
    }
}
@media (min-width: 1600px) {
    .our-team.archive-our-team .member-article .member-text-content {
        padding: 85px 5px 27px
    }
}
.meet-our-team {
    margin-top: 30px
}
.meet-our-team .meet-our-team-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold
}
.meet-our-team .members {
    margin-top: 31px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.meet-our-team .members>[class^="col"] {
    margin-bottom: 40px;
    margin-right: -1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.meet-our-team .member-article {
    border: 1px solid #CFD8DC;
    background: #FFF;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.meet-our-team .member-article .member-thumbnail {
    padding-top: 18px;
    height: 106px;
    background: #ECEFF1;
    border-bottom: 1px solid #CFD8DC
}
.meet-our-team .member-article .member-thumbnail-link {
    margin: 0 auto;
    width: 172px;
    height: 172px;
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ECEFF1
}
.meet-our-team .member-article .wp-post-image {
    border-radius: 50%;
    border: 5px solid #FFF;
    box-sizing: content-box
}
.meet-our-team .member-article .member-text-content {
    padding: 85px 18px 27px;
    text-align: center
}
.meet-our-team .member-article .member-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold
}
.meet-our-team .member-article .member-position {
    margin-top: 4px;
    font-size: 16px;
    color: #D84315;
    overflow: hidden;
    text-overflow: ellipsis
}


.meet-our-team .member-article hr {
 
    border-top: 1px solid #CFD8DC
}
.meet-our-team .member-article .member-description {
    line-height: 16px
}
@media (max-width: 1309px) {
    .meet-our-team .member-article .member-description {
        padding: 0 20px
    }
}
@media (min-width: 1600px) {
    .meet-our-team .member-article .member-description {
        padding: 0 16px
    }
}
.meet-our-team .member-article .member-description p {
    margin-bottom: 18px
}
.meet-our-team .member-article .box-btn {
    left: 0;
    bottom: 29px;
    right: 0;
    display: inline-block
}
.single-our-team #content {
    background: #FFF
}
.member-page .member-title {
    margin-top: 32px
}
.member-page .member-title h1 {
    font-weight: bold;
    font-size: 46px
}
.member-page .member-content h2,
.member-page .member-content h3 {
    font-size: 20px;
    font-weight: bold
}
.member-page .member-content h2 {
    margin-top: 0
}
.member-page .member-content h3 {
    font-style: italic;
    margin-bottom: 33px
}
.member-page .member-content h3+p {
    max-width: 635px;
    line-height: 18px
}
.member-page .member-skills {
    margin-top: 22px
}
.member-page .member-skills h4 {
    padding-bottom: 11px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #CFD8DC
}
.member-page .member-skills li {
    min-height: 32px;
    padding-left: 6px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF
}
.member-page .member-skills li:nth-child(even) {
    background: #ECEFF1
}
.member-page .member-skills .svg.square-icon.icon-success {
    width: 29px;
    height: 29px;
    transform: scale(.43, .43);
    background-color: transparent;
    border: none
}
.member-page .member-skills .skill-text {
    padding: 5px 10px 5px 20px
}
.member-page .box-btn {
    margin: 36px 0 47px
}
.member-page .member-email-hidden {
    display: none
}
.member-page .member-image {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    background: #FFF url("../images/member-bg.png?VERSION_IMG") 28px bottom no-repeat
}
.members-team {
    margin-bottom: -16px;
    padding-top: 8px;
    background-color: #ECEFF1
}
.members-team .member-text-content {
    padding: 73px 25px 14px
}
.members-team .member-text-content .member-description p {
    line-height: 17px
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.our-team-modal-form .modal-dialog {
    width: 418px;
    border: 1px solid #CFD8DC;
    padding: 0;
    margin-top: 100px
}
.our-team-modal-form .modal-dialog .modal-content {
    border: 1px solid #CFD8DC;
    padding: 13px 38px 18px;
    box-shadow: 0 0 13px -2px #243238;
    position: relative
}
.our-team-modal-form .modal-dialog .modal-content .modal-header {
    padding: 0;
    margin: 0;
    border: none
}
.our-team-modal-form .modal-dialog .modal-content .modal-header .close {
    color: #B0BEC5;
    opacity: 1;
    font-size: 37px;
    line-height: 17px;
    position: absolute;
    top: 20px;
    right: 17px;
    transition: color .3s ease
}
.our-team-modal-form .modal-dialog .modal-content .modal-header .close:hover {
    color: #D84315
}
.our-team-modal-form .modal-dialog .modal-content .modal-body {
    padding: 0;
    margin: 0
}
.our-team-modal-form .form-horizontal .form-group {
    margin-bottom: 20px
}
.our-team-modal-form .form-horizontal .form-group:last-child {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden
}
.our-team-modal-form .form-horizontal .form-group .control-label {
    width: 100%;
    padding: 0 10px;
    margin: 0 0 8px;
    display: block;
    font-size: 18px;
    color: #455A64;
    line-height: 1.25;
    text-align: left;
    font-weight: normal
}
.our-team-modal-form .form-horizontal .tm-form-hint {
    color: #455A64;
    font-size: 30px;
    line-height: 1.25;
    font-weight: bold;
    text-transform: none;
    padding: 0;
    text-align: left;
    margin: 0 0 7px 0
}
.our-team-modal-form .form-horizontal .form-control {
    display: inline-block
}
.our-team-modal-form .form-horizontal input[type="text"],
.our-team-modal-form .form-horizontal input[type="email"],
.our-team-modal-form .form-horizontal textarea {
    background-color: #FFF;
    font-size: 18px;
    color: #455A64;
    line-height: 1.25;
    padding: 6px 15px;
    height: 41px;
    box-sizing: border-box
}
.our-team-modal-form .form-horizontal textarea {
    height: 171px;
    resize: none
}
.our-team-modal-form .form-horizontal textarea+.popover {
    top: 97.5px !important
}
.our-team-modal-form .form-horizontal button[type="submit"] {
    margin-top: 0
}
.our-team-modal-form .form-horizontal .alert-warning .close {
    display: none
}
.modal-backdrop {
    background-color: #243238;
    opacity: .95
}